body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    touch-action: none;
    color: white;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dot {
    position: absolute;
    background-color: firebrick;
    border-radius: 100vh;
    height: 1%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}